<div class="wrapper">
<div class="content">
<h1 class="headline">Listing Trackers</h1>


<% @trackers.each do |tracker| %>
	<div class="tracker_box">
    <%= tracker.name %>
    <%= link_to 'Edit', edit_tracker_path(tracker) %>
		<%= link_to 'show Projects', tracker_projects_path(tracker.id) %>
	</div>
<% end %>
<br />

<%= link_to 'New Tracker', new_tracker_path %>
</div>
</div>